#users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user {
  display: flex;
  flex-direction: column;
  border: 1px solid #DCD1D6;
  padding: 1px;
  margin: 2px;
}

button {
  color: rgb(242, 182, 18);
  background-color: rgb(32, 84, 206)
}

img {
  background: brown;
  margin: auto;
}

h1,
h6 {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: medium;
}